body {
    margin: 0;
        display: flex;
        justify-content: center;
        height: 100vh;
        align-items: center;
        text-align: center;
        background-color: rgba(23, 95, 18, 0.805);
        color: azure;
}

.form{
    background-color: white;
    background: url(https:cdn.pixabay.com/photo/2017/08/11/02/54/chalkboard-2629436_1280.jpg);
    background-position: center;
    padding: 20px;
    box-shadow: 0 4px 8px;
    border-radius: 10px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border: solid 4px darkgoldenrod
}

.input::placeholder{
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    background-color: rgb(206, 212, 20);
    color: rgb(255, 255, 255);
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3)
}

.btn:hover{                   /* Usar pseudo-selector hover para (cursor: pointer) */
    filter: brightness(0.9);
    cursor: pointer;
}

.score{
    color: green;
    text-align: center;
    background-color: aliceblue;
    width: 80px;
    position: relative;
}
